

/////////////////////////////
/////////////////////////////
//// ANNUAL CAMPAIGN 2026 
/////////////////////////////
/////////////////////////////

.feature-posts-manual.advocate-subgrid .col-12{
	@include tablet {
		grid-template-columns: 1fr;

		.home-boxes .box .image img{
			height: 250px;
		}
	}

	@include desktop {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.feature-posts-manual.advocate-subgrid.blue-cards .col-12 .component-feature{

	.home-boxes{
		.box{
			flex: 1;
			border-radius: 24px;
			border: 0px solid $gray;
			background: $primary-blue;
			padding: 15px;
			box-shadow: $shadow;
			transition: .3s;

			@include desktop{
				padding: 20px;
			}

			.body{
				padding: 0px;
				padding-top: 2px;
				min-height: auto;
				margin-top: 20px;

				&:after{
					margin-top: 20px;
					@include arrow($light-blue);
					display: none;
				}

				.text-container{
					.read-more-link{
						@include arrow-btn($white);
						margin-top: 20px;
						
						&:hover{
						 	@include arrow-btn($light-blue);
						}

						a{
							@include p-bold($white);
							&:hover{
								text-decoration: none;
								@include p-bold($light-blue);
							}
						}
					}
				}

				.button-container {
					margin-top:0px;
					a.button{
						position: relative;
				   		//  top: 0;
					    // left: 0;
					    // right: 0;
					    // bottom: 0;
					    // height: 100%;
					    // width: 100%;
					    background: transparent;
						box-sizing: border-box;
    					z-index: 2000;
				       
				        span{
				        	display: block;

				        	&:after{
								margin-top: 20px;
								@include arrow($light-blue);
								display: none;
							}
				        }
					}
				}
			}

			h4.title, h4.title a{
					@include h5($white);
					text-transform: none !important;
				}

			p{
				@include p($white);
			}	

			&:hover{
				box-shadow: $hover-shadow;
				transition: .3s;

				.body{
					&:after{
						@include arrow($medium-blue);
						display: none;

					}
				}
			}		
		}
	}
}



.shell.basic.cards .row{
	gap: 20px !important;

	@include tablet{
		gap: 20px !important;
	}

	@include desktop{
		gap: 20px !important;
	}
}

.shell.basic.bg-primary-blue .row{
	@include tablet{
		flex-direction: row;
	}
}



	.basic.cards{
		padding-top: 40px;
		.component-image{ max-height: none !important; }
		.row {
			gap: 20px;
			align-items: stretch;
			
			.rich-text{
				h4{@include h4($primary-blue);}
				h5{@include h5($navy-blue);}
				ul li a{@include p($dark-gray);}

				p.arrow-btn {
					@include arrow-btn($primary-blue);
				}
			}

			@include desktop{
				gap: 40px;
			}
		}

		/// TEXT SIDE
		.col-8{
			background: #F9F9F9;
			border-radius: 24px;
			@include responsive-padding;
			flex: 4;		

			@include desktop{
				padding: 60px 60px;
			}

			@include largedesktop {
			     // padding: 50px 60px;
			    padding: 60px 60px;
			  }
			  @include xlargedesktop {
			     // padding: 50px 60px;
			    padding: 60px 60px;
			  }

			.button{
				float: left;
    			margin-right: 10px;
			}	

			width: 100%;
   			box-sizing: border-box;

		}

		&.bg-white{
			.col-8{background: #F9F9F9;}
		}

		.col-4{
			background: $light-gray;
			border-radius: 24px;
			flex: 4;
			.rich-text{padding: 20px;}
			width: 100%;
   			box-sizing: border-box;

			.component-class-image, .component-class-image * {height: 100%;}

			img{
				object-fit: cover;
				width: 100%;
			}
		}

		&.reverse{
			.row{
				flex-direction: column-reverse;

				@include mini{
					flex-direction:row !important;
					&:after{display: none;}
				}
			}
		}

		.row {
			@include mini{
				flex-direction:row !important;
				&:after{display: none;}
			}
		}
	}




.button-primary-outline.arrow{
	display: flex;
    border-radius: 60px;
	padding: 5px 24px;

	&::after{ // PRIMARY BLUE ARROW 
      position: relative;
      content: url('data:image/svg+xml;charset=UTF-8,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Icon"><path id="icon" d="M17.3938 14.0287L13.5799 17.8533L15.082 19.3554L21.474 12.9633L15.082 6.57129L13.5799 8.07342L17.3938 11.898H4.42859V14.0287H17.3938Z" fill="%231E3EAF"/></g></svg>');
      height: 40px;
      width: 20px;
      background: $white;
      border-radius: 100%;
          left: 2px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      transition: .3s;
      flex: none;
    }
}

// .button-arrow{
// 	@include button($primary-blue, $primary-blue, outline);
// 	max-width: auto;

// 	@include arrow-btn($white);

// 	// a{
// 	// 	@include arrow-btn($white)
// 	// }
// }

