

/////////////////////////////
/////////////////////////////
//// ANNUAL CAMPAIGN 2026 
/////////////////////////////
/////////////////////////////



.feature-posts-manual.advocate-subgrid.blue-cards .col-12 .component-feature{

	.home-boxes{
		.box{
			flex: 1;
			border-radius: 24px;
			border: 0px solid $gray;
			background: $primary-blue;
			padding: 15px;
			box-shadow: $shadow;
			transition: .3s;

			@include desktop{
				padding: 20px;
			}

			.body{
				padding: 0px;
				padding-top: 2px;
				min-height: auto;
				margin-top: 20px;

				&:after{
					margin-top: 20px;
					@include arrow($light-blue);
				}

				.button-container {
					margin-top:0px;
					a.button{
						position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    height: 100%;
				    width: 100%;
				    background: transparent;
						box-sizing: border-box;
    					z-index: 2000;
				       
				        span{
				        	display: none;
				        }
					}
				}
			}

			h4.title, h4.title a{
					@include h5($white);
					text-transform: none !important;
				}

			p{
				@include p($white);
			}	

			&:hover{
				box-shadow: $hover-shadow;
				transition: .3s;

				.body{
					&:after{
						@include arrow($medium-blue);
					}
				}
			}		
		}
	}
}



.shell.basic.cards .row{
	gap: 20px !important;

	@include tablet{
		gap: 20px !important;
	}

	@include desktop{
		gap: 20px !important;
	}
}



	.basic.cards{
		padding-top: 40px;
		.component-image{ max-height: none !important; }
		.row {
			gap: 20px;
			align-items: stretch;
			
			.rich-text{
				h4{@include h4($primary-blue);}
				h5{@include h5($navy-blue);}
				ul li a{@include p($dark-gray);}
			}

			@include desktop{
				gap: 40px;
			}
		}

		/// TEXT SIDE
		.col-8{
			background: #F9F9F9;
			border-radius: 24px;
			@include responsive-padding;
			flex: 4;		

			.button{
				float: left;
    			margin-right: 10px;
			}	

			width: 100%;
   			box-sizing: border-box;

		}

		&.bg-white{
			.col-8{background: #F9F9F9;}
		}

		.col-4{
			background: $light-gray;
			border-radius: 24px;
			flex: 4;
			.rich-text{padding: 20px;}
			width: 100%;
   			box-sizing: border-box;

			.component-class-image, .component-class-image * {height: 100%;}

			img{
				object-fit: cover;
				width: 100%;
			}
		}

		&.reverse{
			.row{
				flex-direction: column-reverse;

				@include mini{
					flex-direction:row !important;
					&:after{display: none;}
				}
			}
		}

		.row {
			@include mini{
				flex-direction:row !important;
				&:after{display: none;}
			}
		}
	}
