

@media (max-width: 768px) {
    .mobile-only{
        display: none;
    }
}


.rich-text p.arrow-btn a, .page.page-main p.arrow-btn a {
    color: #27277C;
}

.rich-text .arrow-btn a::after{
    background: #1E3EAF;
        content: url('data:image/svg+xml;charset=UTF-8,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Icon"><path id="icon" d="M17.3938 14.0287L13.5799 17.8533L15.082 19.3554L21.474 12.9633L15.082 6.57129L13.5799 8.07342L17.3938 11.898H4.42859V14.0287H17.3938Z" fill="%23f5f5f5"/></g></svg>');

}
 



@media (max-width: 740px) {
.about-us-header .component-promo .promo-text .overlay h2{
       font-size: 30px;
    }

    .about-us-header .component-promo .promo-title p{
       font-size: 14px;
    }
}

.about-us-header .component-promo:not(.btn-anchored).overlay-horizontal-position-middle .margin-middle-small{
  width: 100%;
}


.bg-light .icon-row-item .text p{

    color: #2A2A2A;
    text-align: left;
        font-family: 'Outfit', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
}

.basic.gray-card .row .component-icon-row{
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 740px) {
    .basic.gray-card .row .component-icon-row{
        padding-bottom: 0px;}
}


.bg-light .icon-row-item .text h4{
    color: #27277C;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;

/*   for icon*/        
    padding-top: 60px;
}

@media (min-width: 1200px)  {
    .bg-light .icon-row-item .text h4{
        font-size: 24px;
        line-height: 32px;
    }

    .bg-light .icon-row-item .text p{
        font-size: 18px;
            line-height: 27px;
    }
}



.bg-light .component-icon-row .icon-row-item {
    background: #F5F5F5 !important;
    padding: 34px 16px !important;
}

.bg-light .component-icon-row .icon-row-item .text{
    gap: 10px;
}


.jotform-form label{
    font-family: 'Outfit', sans-serif;
        margin-top: 10px;
    display: block;
}

.jotform-form {
    padding:  40px 40px 0px 40px;
}

.jotform-form button{
    margin-top: 20px;
}



.component-accordion .block {
        padding: 5px 0px;
        border-bottom:  0px solid gray;
}


.component-accordion .accordion-heading:after{
    color: #27277C !important;
}
.component-accordion .block h3.accordion-heading {
        font-family: 'Outfit', sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #27277C;
}


@media (min-width: 1200px)  {
    .component-accordion .block h3.accordion-heading {
        font-size: 32px;
            line-height: 42px;
        }
    }



.fa-balance-scale:before{
content: url("data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2232%22%20viewBox%3D%220%200%2034%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%2031.6667V28.3333H15V9.70833C14.2778%209.45833%2013.6528%209.06944%2013.125%208.54167C12.5972%208.01389%2012.2083%207.38889%2011.9583%206.66667H6.66667L11.6667%2018.3333C11.6667%2019.7222%2011.0972%2020.9028%209.95833%2021.875C8.81944%2022.8472%207.44444%2023.3333%205.83333%2023.3333C4.22222%2023.3333%202.84722%2022.8472%201.70833%2021.875C0.569444%2020.9028%200%2019.7222%200%2018.3333L5%206.66667H1.66667V3.33333H11.9583C12.2917%202.36111%2012.8889%201.5625%2013.75%200.9375C14.6111%200.3125%2015.5833%200%2016.6667%200C17.75%200%2018.7222%200.3125%2019.5833%200.9375C20.4444%201.5625%2021.0417%202.36111%2021.375%203.33333H31.6667V6.66667H28.3333L33.3333%2018.3333C33.3333%2019.7222%2032.7639%2020.9028%2031.625%2021.875C30.4861%2022.8472%2029.1111%2023.3333%2027.5%2023.3333C25.8889%2023.3333%2024.5139%2022.8472%2023.375%2021.875C22.2361%2020.9028%2021.6667%2019.7222%2021.6667%2018.3333L26.6667%206.66667H21.375C21.125%207.38889%2020.7361%208.01389%2020.2083%208.54167C19.6806%209.06944%2019.0556%209.45833%2018.3333%209.70833V28.3333H33.3333V31.6667H0ZM24.375%2018.3333H30.625L27.5%2011.0833L24.375%2018.3333ZM2.70833%2018.3333H8.95833L5.83333%2011.0833L2.70833%2018.3333ZM16.6667%206.66667C17.1389%206.66667%2017.5347%206.50694%2017.8542%206.1875C18.1736%205.86806%2018.3333%205.47222%2018.3333%205C18.3333%204.52778%2018.1736%204.13194%2017.8542%203.8125C17.5347%203.49306%2017.1389%203.33333%2016.6667%203.33333C16.1944%203.33333%2015.7986%203.49306%2015.4792%203.8125C15.1597%204.13194%2015%204.52778%2015%205C15%205.47222%2015.1597%205.86806%2015.4792%206.1875C15.7986%206.50694%2016.1944%206.66667%2016.6667%206.66667Z%22%20fill%3D%22%2327277C%22/%3E%3C/svg%3E");
}
.ss-flag:before{ 
content: url("data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2234%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5.83333%2015L0%2011.6667V5L5.83333%201.66667L11.6667%205V11.6667L5.83333%2015ZM5.83333%2011.1667L8.33333%209.75V6.91667L5.83333%205.5L3.33333%206.91667V9.75L5.83333%2011.1667ZM24.1667%2016.2917V12.4167L30%2015.8333V27.5L20%2033.3333L10%2027.5V15.8333L15.8333%2012.4167V16.2917L13.3333%2017.75V25.5833L20%2029.4583L26.6667%2025.5833V17.75L24.1667%2016.2917ZM18.3333%2020V0H33.3333L30%205L33.3333%2010H21.6667V20H18.3333Z%22%20fill%3D%22%2327277C%22/%3E%3C/svg%3E");
}
.ss-usergroup:before{
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2220%22%20viewBox%3D%220%200%2040%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%2020V17.375C0%2016.1806%200.611111%2015.2083%201.83333%2014.4583C3.05556%2013.7083%204.66667%2013.3333%206.66667%2013.3333C7.02778%2013.3333%207.375%2013.3403%207.70833%2013.3542C8.04167%2013.3681%208.36111%2013.4028%208.66667%2013.4583C8.27778%2014.0417%207.98611%2014.6528%207.79167%2015.2917C7.59722%2015.9306%207.5%2016.5972%207.5%2017.2917V20H0ZM10%2020V17.2917C10%2016.4028%2010.2431%2015.5903%2010.7292%2014.8542C11.2153%2014.1181%2011.9028%2013.4722%2012.7917%2012.9167C13.6806%2012.3611%2014.7431%2011.9444%2015.9792%2011.6667C17.2153%2011.3889%2018.5556%2011.25%2020%2011.25C21.4722%2011.25%2022.8264%2011.3889%2024.0625%2011.6667C25.2986%2011.9444%2026.3611%2012.3611%2027.25%2012.9167C28.1389%2013.4722%2028.8194%2014.1181%2029.2917%2014.8542C29.7639%2015.5903%2030%2016.4028%2030%2017.2917V20H10ZM32.5%2020V17.2917C32.5%2016.5694%2032.4097%2015.8889%2032.2292%2015.25C32.0486%2014.6111%2031.7778%2014.0139%2031.4167%2013.4583C31.7222%2013.4028%2032.0347%2013.3681%2032.3542%2013.3542C32.6736%2013.3403%2033%2013.3333%2033.3333%2013.3333C35.3333%2013.3333%2036.9444%2013.7014%2038.1667%2014.4375C39.3889%2015.1736%2040%2016.1528%2040%2017.375V20H32.5ZM13.5417%2016.6667H26.5C26.2222%2016.1111%2025.4514%2015.625%2024.1875%2015.2083C22.9236%2014.7917%2021.5278%2014.5833%2020%2014.5833C18.4722%2014.5833%2017.0764%2014.7917%2015.8125%2015.2083C14.5486%2015.625%2013.7917%2016.1111%2013.5417%2016.6667ZM6.66667%2011.6667C5.75%2011.6667%204.96528%2011.3403%204.3125%2010.6875C3.65972%2010.0347%203.33333%209.25%203.33333%208.33333C3.33333%207.38889%203.65972%206.59722%204.3125%205.95833C4.96528%205.31944%205.75%205%206.66667%205C7.61111%205%208.40278%205.31944%209.04167%205.95833C9.68056%206.59722%2010%207.38889%2010%208.33333C10%209.25%209.68056%2010.0347%209.04167%2010.6875C8.40278%2011.3403%207.61111%2011.6667%206.66667%2011.6667ZM33.3333%2011.6667C32.4167%2011.6667%2031.6319%2011.3403%2030.9792%2010.6875C30.3264%2010.0347%2030%209.25%2030%208.33333C30%207.38889%2030.3264%206.59722%2030.9792%205.95833C31.6319%205.31944%2032.4167%205%2033.3333%205C34.2778%205%2035.0694%205.31944%2035.7083%205.95833C36.3472%206.59722%2036.6667%207.38889%2036.6667%208.33333C36.6667%209.25%2036.3472%2010.0347%2035.7083%2010.6875C35.0694%2011.3403%2034.2778%2011.6667%2033.3333%2011.6667ZM20%2010C18.6111%2010%2017.4306%209.51389%2016.4583%208.54167C15.4861%207.56944%2015%206.38889%2015%205C15%203.58333%2015.4861%202.39583%2016.4583%201.4375C17.4306%200.479167%2018.6111%200%2020%200C21.4167%200%2022.6042%200.479167%2023.5625%201.4375C24.5208%202.39583%2025%203.58333%2025%205C25%206.38889%2024.5208%207.56944%2023.5625%208.54167C22.6042%209.51389%2021.4167%2010%2020%2010ZM20%206.66667C20.4722%206.66667%2020.8681%206.50694%2021.1875%206.1875C21.5069%205.86806%2021.6667%205.47222%2021.6667%205C21.6667%204.52778%2021.5069%204.13194%2021.1875%203.8125C20.8681%203.49306%2020.4722%203.33333%2020%203.33333C19.5278%203.33333%2019.1319%203.49306%2018.8125%203.8125C18.4931%204.13194%2018.3333%204.52778%2018.3333%205C18.3333%205.47222%2018.4931%205.86806%2018.8125%206.1875C19.1319%206.50694%2019.5278%206.66667%2020%206.66667Z%22%20fill%3D%22%2327277C%22/%3E%3C/svg%3E");
}
.ss-lightbulbon:before {
content: url("data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2234%22%20viewBox%3D%220%200%2025%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12.5%2033.3333C11.5833%2033.3333%2010.7986%2033.0069%2010.1458%2032.3542C9.49306%2031.7014%209.16667%2030.9167%209.16667%2030H15.8333C15.8333%2030.9167%2015.5069%2031.7014%2014.8542%2032.3542C14.2014%2033.0069%2013.4167%2033.3333%2012.5%2033.3333ZM5.83333%2028.3333V25H19.1667V28.3333H5.83333ZM6.25%2023.3333C4.33333%2022.1944%202.8125%2020.6667%201.6875%2018.75C0.5625%2016.8333%200%2014.75%200%2012.5C0%209.02778%201.21528%206.07639%203.64583%203.64583C6.07639%201.21528%209.02778%200%2012.5%200C15.9722%200%2018.9236%201.21528%2021.3542%203.64583C23.7847%206.07639%2025%209.02778%2025%2012.5C25%2014.75%2024.4375%2016.8333%2023.3125%2018.75C22.1875%2020.6667%2020.6667%2022.1944%2018.75%2023.3333H6.25ZM7.25%2020H17.75C19%2019.1111%2019.9653%2018.0139%2020.6458%2016.7083C21.3264%2015.4028%2021.6667%2014%2021.6667%2012.5C21.6667%209.94444%2020.7778%207.77778%2019%206C17.2222%204.22222%2015.0556%203.33333%2012.5%203.33333C9.94444%203.33333%207.77778%204.22222%206%206C4.22222%207.77778%203.33333%209.94444%203.33333%2012.5C3.33333%2014%203.67361%2015.4028%204.35417%2016.7083C5.03472%2018.0139%206%2019.1111%207.25%2020Z%22%20fill%3D%22%2327277C%22/%3E%3C/svg%3E");
}
.fa-handshake-o::before{

  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.68 33.33'%3E%3Cpath fill='%2327277c' d='M36.18,11.21A6.5,6.5,0,0,0,34.72,9l-7-7A6.48,6.48,0,0,0,25.5.5a6.63,6.63,0,0,0-5.05,0A7,7,0,0,0,18.22,2l-.45.46L17.31,2A6.52,6.52,0,0,0,15.12.5a6.6,6.6,0,0,0-5,0A7,7,0,0,0,7.85,2L2,7.83a6.83,6.83,0,0,0-1.37,2A6.62,6.62,0,0,0,0,12.08,6.33,6.33,0,0,0,.27,14.4a6.65,6.65,0,0,0,1,2.1l2.41-2.42a3.24,3.24,0,0,1-.33-1,3.49,3.49,0,0,1,0-1,4,4,0,0,1,.33-1,3.46,3.46,0,0,1,.63-.87l5.87-5.92a3.27,3.27,0,0,1,1.13-.73,3.68,3.68,0,0,1,1.25-.23,3.62,3.62,0,0,1,1.27.23,2.84,2.84,0,0,1,1.06.73l6,6a.54.54,0,0,1,.19.25,1,1,0,0,1,.06.33.79.79,0,0,1-.25.61.9.9,0,0,1-.62.23.83.83,0,0,1-.34-.07.52.52,0,0,1-.25-.18L14.22,6,4.56,15.58a4,4,0,0,0-.9,1.36,4.18,4.18,0,0,0-.31,1.6,4.07,4.07,0,0,0,1,2.75,4,4,0,0,0,2.58,1.38A4.22,4.22,0,0,0,8.08,25a4,4,0,0,0,2.35,1.19A4.12,4.12,0,0,0,14,29.75a4,4,0,0,0,1.4,2.56,4.06,4.06,0,0,0,2.73,1A4,4,0,0,0,19.7,33a4.25,4.25,0,0,0,1.36-.92L34.72,18.46a6.67,6.67,0,0,0,2-4.71A6.64,6.64,0,0,0,36.18,11.21ZM33.12,15a3,3,0,0,1-.73,1.12L18.72,29.75a.77.77,0,0,1-.25.17.8.8,0,0,1-.33.08.85.85,0,0,1-.6-.25.77.77,0,0,1-.27-.58.87.87,0,0,1,.06-.32.89.89,0,0,1,.19-.27l5.66-5.66-2.33-2.34-5.67,5.63a1,1,0,0,1-.27.19.81.81,0,0,1-.89-.19.79.79,0,0,1-.25-.58,1,1,0,0,1,.06-.34A.48.48,0,0,1,14,25l5.62-5.66L17.31,17l-5.67,5.63a.9.9,0,0,1-.25.16.68.68,0,0,1-.33.09.85.85,0,0,1-.59-.25.83.83,0,0,1-.25-.59.82.82,0,0,1,.07-.31.8.8,0,0,1,.18-.27l5.63-5.67L13.77,13.5,8.1,19.17a1.08,1.08,0,0,1-.25.16.68.68,0,0,1-.33.09.78.78,0,0,1-.59-.27.92.92,0,0,1-.25-.61.67.67,0,0,1,.07-.31A.8.8,0,0,1,6.93,18l7.29-7.29,3.13,3.08a3.89,3.89,0,0,0,1.35.88,4.63,4.63,0,0,0,1.61.29,4,4,0,0,0,2.94-1.19,4,4,0,0,0,1.18-2.94,4.22,4.22,0,0,0-.29-1.58,3.43,3.43,0,0,0-.92-1.33L20.14,4.75l.46-.46a3.24,3.24,0,0,1,1.12-.73A3.72,3.72,0,0,1,23,3.33a3.67,3.67,0,0,1,1.28.23,2.93,2.93,0,0,1,1.06.73l7.08,7.09a2.66,2.66,0,0,1,.73,1.06,3.58,3.58,0,0,1,.23,1.27A3.68,3.68,0,0,1,33.12,15Z'/%3E%3C/svg%3E");
}

